.cal-p {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cal-c {
    position: relative;
    overflow: scroll;
    flex: 1;
}
.cal-c {
    scrollbar-width: none;
}
.cal-c::-webkit-scrollbar {
    display: none;
}
.cal-h {
    display: flex;
}
.cal-h > div {
    padding: 10px;
    flex: 1;
    text-align: center;
    color: #fff;
    background: #111;
}
.cal {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
}
.cal-i {
    text-align: center;
    display: flex;
    color: #fff;
    user-select: none;
}
.cal-row {
    display: flex;
}
.cal-dat {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cal-dat.block {
    pointer-events: none;
}
.cal-dat.block .c-d {
    background: #ccc !important;
}
.cal-ttl {
    padding: 10px;
}
.cal-dat .c-d {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2rem;
}
.odd .cal-dat:not(.idl):not(.lit) {
    background: #181818;
}
.cal-dat.odd:not(.idl):not(.lit) {
    background: #181818;
}
.odd .cal-dat.odd:not(.idl):not(.lit) {
    background: transparent;
}
.cal-dat.idl .c-d {
    background: #333;
    color: #fff;
}
.cal-dat.lit .c-d {
    background: #fff;
    color: #555;
}
.c-flt {
    position: absolute;
    bottom: -70px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
    transition: 100ms bottom cubic-bezier(0.215, 0.61, 0.355, 1);
}
.c-flt.show {
    bottom: 0;
}
.c-flt > button {
    padding: 1rem;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 14px;
    background: #3498db;
}
.pn-c {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.pnkt {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pnkt > div {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}