.reg {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.reg-h {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.reg-h img {
    width: 22px;
    vertical-align: top;
}
.reg-h button.lgt {
    background: transparent;
}
.reg-h button.lgt img {
    filter: invert(1);
    width: 42px;
}
.reg-h button.pls {
    padding: 10px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    border: none;
}
.reg-b {
    flex: 1;
    display: flex;
    padding: 1rem;
    flex-direction: column-reverse;
}
.reg-i {
    background: #ccc;
    display: inline-block;
    padding: 1rem;
    border-radius: 2rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-right: 1rem;
    user-select: none;
}

.reg-i:active {
    opacity: .9;
}
.reg-i.dis {
    opacity: .5;
}
.reg-e {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 60px;
    font-size: 24px;
}
.reg-e img {
    width: 100%;
    filter: invert(1);
}
.reg-e .txt {
    margin-right: 10px;
}
.reg-e .image {
    height: 85px;
    width: 85px;
}