.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #000;
}
.App-view {
  flex: 1;
}
button {
  background: #333;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: #fff;
}
/* loading */
.ld {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ld div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #fff transparent #fff transparent;
  animation: ld-ring 0.7s linear infinite;
}
.ld.dk div {
  border-color: #555 transparent #555 transparent;
}
@keyframes ld-ring {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
/* others */
.App-center {
  display: flex;
  height: 100%;
  align-items: center;
  background: #000;
  justify-content: center;
}
.App-center input {
  font-size: 20px;
  background: transparent;
  color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
  border-radius: 2rem;
  line-height: 36px;
}
.App-center button {
  width: 100%;
  font-size: 20px;
  line-height: 36px;
  border-radius: 2rem;
}
.App-center .lbl {
  color: #555;
}
.App-center h2 {
  text-align: center;
}
.App-center .wlcm {
  text-align: center;
}
.App-center .wlcm img {
  width: 100px;
}
.App-sect {
  margin-bottom: 1rem;
}
.App-sect.ex {
  margin-bottom: 4rem;
}
button.danger {
  background: #e74c3c;
}
button.green {
  background: #27ae60;
}
.App-login {
  /* background: #fff; */
  color: #fff;
}
.App-login button {
  border-radius: 4px;
  padding: 0 20px;
  line-height: 60px;
}
.App-login button img {
  vertical-align: top;
  width: 30px;
  margin-top: 15px;
  margin-right: 10px;
}
.App-colors {
  display: flex;
  flex-flow: wrap;
  height: 100%;
}
.App-colors > div {
  width: 33.33%;
  transition: 500ms opacity;
}
.App-colors > div:active {
  opacity: 0;
}